.main {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: aliceblue;
    background-image: url("../../public/logoimg/divingimg.jpg");
    align-content: center;
}